.welcomeMessage {
    font-size: 2.5em;
    background-color: green;
    color: white;
    padding: 1rem;
    border-radius: 0.4rem;
    margin: 0;
}

.loginMessage {
    font-size: 2.5em;
    background-color: red;
    color: white;
    padding: 1rem;
    border-radius: 0.4rem;
    margin: 0; 
}